@use '../../styles/variables' as *;

.homepage-container {
  background-color:  $color-main-light;
  width: 100%;
}

.homepage-inner {
  margin: 0 auto;
  max-width: 1280px; 
  padding: 0 1.5rem;      
}

.homepage-idea {
  h3 {
    color: $color-heading;
    font-size: $size-text-l;
    padding-top: $space-xl;
    text-align: center;
  }
}

.homepage-text {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr ;

  p {
      grid-column: 2/3;
  }
}

.idea-icon {
  width: clamp(24px, 6vw, 90px);
  height: clamp(24px, 6vw, 90px);
  aspect-ratio: 1 / 1;

  max-width: 100%;
  flex-shrink: 0;

  transition: transform .25s ease;

  &:hover {
    transform: scale(1.08);
  }
}


.idea-icon-star {
  grid-column: 1/2;
  grid-row: 1/3;
}

.idea-icon-candle {
  grid-column: 3/-1;
  grid-row: 1/3;
}

@media (max-width: 768px) {
  .homepage-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
  }

  .idea-icon {
    width: clamp(24px, 8vw, 60px);
    height: auto;

  }

  .idea-icon-star { order: -1; justify-self: center; }
  .idea-icon-candle { order: 3; justify-self: center; }
  
  p { order: 0; }
}

