
@use '../../styles/variables' as *;

.product-card {
  border: solid 2px red;
  background: $color-background-input-cream-light;
  border-radius: $radius-s;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  // overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 14px rgba(0,0,0,0.18);
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
}



