
@use '../variables' as *;

.question-to-link{
  display: inline;
  color: $color-text-body;
  padding-right: 10px;
}
.auth-link {
  color: $color-link; 

  &:hover {
    color: $color-link-hover; 
    text-decoration: underline; 
  }
}