@use '../variables' as *;

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  background-color: $color-light-btn;
  border: 1px solid $color-light-btn-border;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;

  font-size: 16px;
  color: $color-heading;

  &:hover {
    background-color: $color-light-btn-hover;
    border-color: $color-light-btn-border-hover;
  }
}