@use '../../styles/variables' as *;

.footer-container {
  background-color: $color-footer-dark;
  width: 100%;
  padding: 20px 0;
}

.footer-inner {
  height: $footer-height;
  color: $color-text-on-dark;
  margin: 0 auto;
}




.footer-title {
  font-size: $size-text-m;
  padding: 10px 0;
}

.footer-info-container {
  display: flex;
}

.contact-info, .dev-info {
  flex: 1;
}

.contact-info {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 0.5fr 3.5fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;

  a {
    text-decoration: none;
    font-size: $size-text-s;
    color: $color-text-on-dark;
  }
}

.contact-info-LinkedIn {
  grid-column: 1/2;
  grid-row: 1/2;
}

.contact-info-github {
  grid-column: 1/2;
  grid-row: 2/3;
}

.dev-info {
  h3 {
    padding: 10px 0;
  }
}

@media (max-width: 768px) {
  // .footer-info-container {
  //   flex-direction: column;
  //   align-items: center;
  //   gap: 20px;
  // }

  .contact-info {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    text-align: center;

    a {
      font-size: clamp(12px, 3vw, 16px); 
    }
  }

  .contact-info-LinkedIn,
  .contact-info-github {
    grid-column: auto;
    grid-row: auto;
  }

  .dev-info {
    text-align: center; 
    h3 {
      padding: 5px 0;
      font-size: clamp(14px, 3vw, 18px);
    }
  }
}
