@use '../../styles/variables' as *;


.main-user-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 40px;
}

.user-first-name, .user-last-name, 
.user-email, .user-phone-number, .user-gender, .user-birthday {
  display: flex;
  flex-direction: column;
  gap: $space-xs;
  // border: solid 2px red;

  label {
    font-size: $size-text-s;
    color: $color-text-body;
    font-weight: 500;
  }
}



.user-gender {

  select {
    padding: $space-s $space-m;
    border: 1px solid $color-input-border-light;
    background-color: $color-background-input-cream-light;
    border-radius: $radius-s;
    color: $color-input-text;
    font-size: $size-text-s;
    cursor: pointer;
    outline: none;
    transition: border 0.2s ease, box-shadow 0.2s ease;

    &:focus {
      border: 1px solid $color-input-border-focus;
      box-shadow: 0 0 0 3px $color-input-box-shadow;
      background-color: $color-input-bg-focus;
    }
  }
}

.user-birthday {
  .dob-selects {
    display: flex;
    gap: $space-s;

    select {
      padding: $space-s $space-m;
      border: 1px solid $color-input-border-light;
      background-color: $color-background-input-cream-light;
      border-radius: $radius-s;
      color: $color-input-text;
      font-size: $size-text-s;
      cursor: pointer;
      outline: none;
      width: 120px;   // hardcode
      transition: border 0.2s ease, box-shadow 0.2s ease;

      &:focus {
        border: 1px solid $color-input-border-focus;
        box-shadow: 0 0 0 3px $color-input-box-shadow;
        background-color: $color-input-bg-focus;
      }
    }
  }
}

