@use '../../styles/variables' as *;


.account-container {
  background-color:  $color-main-light;
  width: 100%;
} 
.account-info {
  &-title {
    color: $color-heading;
    padding: 20px 0;
  }
}

.account-manipulation {
  display: flex;
  justify-content: space-between;
  // border: 2px solid rgb(218, 14, 48);
  align-items: center;
}

.account-tabs {
  display: flex;
  gap: 30px;

  // button {
  //   padding: 15px 20px;
  // }
}

// .account-main-container {
//   // border: 2px solid pink;
// }

.logout-link {
  color: $color-link; 

    &:hover {
    color: $color-link-hover; 
    text-decoration: underline; 
  }
}

.button-accent {
  background-color: $color-main-light;
  color: $color-input-text;
  // border: 2px solid $color-gold-light;
  padding: $space-s $space-l;
  border-radius: $radius-m;
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-size: $size-text-s;
  box-shadow: none;
  transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.1s ease;

  &:hover {
    background-color: $color-gold-light;
    box-shadow: $shadow-medium;

  }

  &:active {
    background-color: $color-gold;
    box-shadow: $shadow-soft;
    // transform: translateY(0);
  }

  &:disabled {
    background-color: $color-gold-transparent;
    border-color: $color-border-med;
    color: $color-text-muted;
    cursor: not-allowed;
    box-shadow: none;
  }
}