@use '../variables' as *;

.quick-registration {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;

  &-title {
    font-size: 18px;
    color: $color-text-body; 
  }
}
