@use '../../styles/variables' as *;

.header-container {
  background-color:  $color-header-brown;
  // border: solid 2px purple;
}

.header-inner {
  height: $header-height;
  color: $color-text-on-dark;
  // border: solid 2px red;
  margin: 0 auto;
  display: flex;
  align-items: center;
  // justify-content: space-between;
}

.header-logo, .header-nav, .header-icons-container {
  flex: 1;
}

.header-logo h2 {
  font-size: $size-text-m;
  // border: solid 1px yellow;
  display: flex;
  justify-content: center;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  // border: solid 1px pink;


}

.nav-link {
  text-decoration: none;
  font-size: $size-text-m;
  color: $color-text-on-dark;
}

.header-icons-container {
  display: flex;
  justify-content: space-evenly;

}

.header-icons {
  position: relative;
  color: $color-text-on-dark;

  //reset для button
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  // вирівнювання іконки
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  svg {
    display: block;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.8;
  }

  .badge {
    position: absolute;
    top: -6px;
    right: -6px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    min-width: 20px;
    height: 20px;
    padding: 0 6px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  }

  .fav {
    background-color: #E63946;
  }

  .cart {
    background: #F4D35E;
  }
}
