@use '../../styles/variables' as *;









// .error-message {
//   color: #c41313;
//   background: rgba(250, 205, 205, 0.1);
//   border: 1px solid rgba(255, 82, 82, 0.4);
//   padding: 10px 15px;
//   border-radius: 6px;
//   text-align: center;
//   // font-size: $font-size-md;
//   width: 100%;
//   box-sizing: border-box;
// }

// .fade-in {
//   animation: fadeIn 0.3s ease-in;
// }

// @keyframes fadeIn {
//   from { opacity: 0; transform: translateY(-5px); }
//   to { opacity: 1; transform: translateY(0); }
// }


