
// Brand Core
$color-header-brown: #4A2F21;
$color-footer-dark: #2B2420;
$color-main-light: #F4EDE2;

$color-cream-light-registration-login: #F7F1E1;


// Light button
$color-light-btn: #FFFAF2;
$color-light-btn-border: #DCDCDC;
$color-light-btn-hover: #FCEFD9; 
$color-light-btn-border-hover: #E2C991;

// For input light
$color-input-border-light:  #DCDCDC;
$color-background-input-cream-light: #FFFAF2;
$color-input-placeholder: #A89582;

// Accents 
$color-gold: #F0B43A;
$color-gold-light: #F4D35E;
$color-gold-transparent: #F4D35E55;

// For light background
$color-border-med: #C5B89E;
$color-cream-separate-liner: #E5D6C5;
$color-input-text: #4A2E1E;
// Focus 
$color-input-border-focus:  #F4D35E;
$color-input-bg-focus: #FFF8E9;
$color-input-box-shadow: rgba(244, 211, 94, 0.25);


// checkbox-input
$color-checkbox-input:  #F4D35E;
$color-background-checkbox-cream-light: #FFFAF2;
$color-checkbox-check-mark: #4A2E1E;

// focus 
$color-checkbox-border-focus:  #F4D35E;
$color-checkbox-bg-focus: #F4D35E55;


// Dark button 
$color-dark-btn: #4A2E1E;
$color-dark-btn-border: #3A261B; 
$color-dark-btn-hover: #5c3a28; 
$color-dark-btn-border-hover: #2b2312;
$color-input-box-shadow: rgba(110, 70, 40, 0.3);




// Text on Dark (Header / Footer)
$color-text-on-dark: #F4EDE2;
$color-text-muted-on-dark: #D7C9B9;
$color-text-accent-on-dark: #F4D35E;

// Text on Light 
$color-heading: #3A2B23;
$color-text-body: #4A2E1E;
$color-text-muted: #A89582;

// Text color link
$color-link: #B57A3B;
$color-link-hover: #D9A96A;


// Typography sizes
$size-text-xs: 0.8rem;
$size-text-s: 1rem;
$size-text-m: 2rem;
$size-text-l: 3rem;

// Shadows
$shadow-soft: 0 4px 24px rgba(0, 0, 0, 0.15);
$shadow-medium: 0 6px 28px rgba(0, 0, 0, 0.25);


// Sizes 
$header-height: 80px;
$footer-height: 160px;

// Spacing System 
$space-xxs: 4px;
$space-xs: 8px;
$space-s: 12px;
$space-m: 16px;
$space-l: 24px;
$space-xl: 32px;
$space-xxl: 48px;

// Border Radius
$radius-s: 6px;
$radius-m: 10px;
$radius-l: 16px;

// Errors 
$color-text-danger: #D26A5A;
$color-error-focus-background: #FCEAE6;